[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = ""
alembic = ""
sqlalchemy = ""
click = "*"
faker = "*"
validators = "*"
rich = "*"
colorama = "*"

[dev-packages]

[recommended]
sqlite viewer = "*"

[requires]
python_version = "3.8"
